<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wfplanningdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wfplanningdev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WFPlanningDev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WFPlanningDev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WorkforcePlanningEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:freshwavedbdev.database.windows.net,1433;Initial Catalog=WFPlanningDev;User ID=davismg@freshwavedbdev.database.windows.net;Password=Isabella053109" Name="Data Source=tcp:freshwavedbdev.database.windows.net,1433;Initial Catalog=WFPlanningDev;User Id=davismg@freshwavedbdev.database.windows.net;Password=Isabella053109" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WorkforcePlanning.Core.Data.WorkforcePlanningEntities, WorkforcePlanning.Core.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorkforcePlanningContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:freshwavedbdev.database.windows.net,1433;Initial Catalog=WFPlanningDev;User ID=davismg@freshwavedbdev.database.windows.net;Password=Isabella053109" Name="Data Source=tcp:freshwavedbdev.database.windows.net,1433;Initial Catalog=WFPlanningDev;User Id=davismg@freshwavedbdev.database.windows.net;Password=Isabella053109" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=WorkforcePlanning;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WorkforcePlanningContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WorkforcePlanning;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorkforcePlanningContext-Web.config Connection String">
      <ParameterValue>data source=tcp:freshwavedbdev.database.windows.net,1433;initial catalog=WFPlanningDev;user id=davismg@freshwavedbdev.database.windows.net;password=Isabella053109;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorkforcePlanningEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:freshwavedbdev.database.windows.net,1433;Initial Catalog=WFPlanningDev;User Id=davismg@freshwavedbdev.database.windows.net;Password=Isabella053109"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>